@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sahel FD;
  src: url("/assets/fonts/Sahel-FD.eot");
  src:
    url("/assets/fonts/Sahel-FD.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Sahel-FD.woff2") format("woff2"),
    url("/assets/fonts/Sahel-FD.woff") format("woff"),
    url("/assets/fonts/Sahel-FD.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel FD;
  src: url("/assets/fonts/Sahel-Bold-FD.eot");
  src:
    url("/assets/fonts/Sahel-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Sahel-Bold-FD.woff2") format("woff2"),
    url("/assets/fonts/Sahel-Bold-FD.woff") format("woff"),
    url("/assets/fonts/Sahel-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Sahel FD";
}

.bg-1 {
  @apply bg-white dark:bg-slate-950;
}

.bg-2 {
  @apply bg-neutral-100 dark:bg-slate-900;
}

.bg-3 {
  @apply bg-neutral-200 dark:bg-slate-700;
}

.input {
  @apply focus:outline-none rounded p-2 mb-3 focus:shadow;
}

.submit-button {
  @apply bg-primary font-bold text-white rounded p-2 cursor-pointer shadow;
}

.input-error {
  @apply text-red-600 font-bold text-[10px] h-[16px] mb-2;
}

.ag-table-icon-container {
  @apply h-full flex gap-2 items-center justify-between;
}
